<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Usernames</title>
</head>
<body>

  <style>
    body {
       font-family: Arial, sans-serif;
       margin: 0;
       padding: 0;
       background-color: #f4f4f4;
     }

     /* Header styles */
     header {
       background-color: #1b2f45;
       color: #fff;
       padding: 15px;
       text-align: center;
     }

     /* Back to Home button */
     .back-to-home {
       display: inline-block;
       margin: 20px;
       padding: 10px 20px;
       background-color: #1b2f45;
       color: #fff;
       border: none;
       border-radius: 5px;
       text-decoration: none;
       transition: background-color 0.3s ease;
     }

     .back-to-home:hover {
       background-color: #0e1a29;
     }

     /* Form styles */
     form {
       margin: 20px;
     }

     label {
       width: 100%;
       border-collapse: collapse;
       margin: 20px;
       
       
     }

     select, button {
       padding: 10px;
       border-radius: 4px;
       margin-right: 10px;
       border: 1px solid #ccc;
       background-color: #fff;
     }

     button {
       background-color: #1b2f45;
       color: #fff;
       border: none;
       cursor: pointer;
       transition: background-color 0.3s ease;
     }

     button:hover {
       background-color: #0e1a29;
     }

     /* Table styles */
     table {
       width: 100%;
       border-collapse: collapse;
       margin: 20px;
       background-color: #fff;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     }

     th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      font-weight: bold; /* Make the text bolder */
      font-size: 14px; /* Increase the font size */
     }

     th {
       background-color: #1b2f45;
       color: #fff;
       font-size: 18px; /* Increase the font size */
     }

     tbody tr:hover {
       background-color: #f5f5f5;
     }

     b {
      font-size: 28px;
     }
  </style>

    <br><br>
    <a href="/" class="back-to-home">Go back to Home</a>
    <br><br>
   <label><b>User Information:</b></label>
   <br><br>
   <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
     <thead style="background-color: cornflowerblue; color: white;">
       <tr>
         <th style="text-align: left;">Username</th>
         <th style="text-align: left;">Password</th>
         <th></th>
       </tr>
     </thead>
     <tbody style="font-family: Arial; font-size: 9pt;">
      <% for (let iCount = 0; iCount < myuser.length; iCount++) { %>
         <tr>
           <td><%= myuser[iCount].username %></td>
           <td><%= myuser[iCount].password %></td>
           <td style="text-align: center;">
            <form action="/deleteUser/<%= myuser[iCount].username %>" method="POST">
              <button type="submit">Delete</button>
            </form>
          </td>
         </tr>
      <% } %>
     </tbody>
   </table>
</body>
</html>